@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.main-outer-div{
    background-color: #fff;
    /* background-color:rgb(235, 228, 228); */
}

html{
    height: 100%;
    font-family: 'Josefin Sans', cursive;
}

body{
    min-height: 100%;
}

.carousel{
    height: 500%;
    width: 95%;
    margin-left: 2.5%;
}

.home-header{
    text-align: center;
    /* font-style: italic; */
    
}


.me-auto{
    font-style: italic;
    font-weight: bold;
}

.about-content{
    display: flex;
    /* align-items: center; */
}
.about-img{
    width: 50%;
    height: 400px;;
    float: left;
    /* border-color: black;
    border-style: solid; */
}
.about-content-inner{
    width: 40%;
    float: left;
    margin-left: 3%;
    font-size:50px;
    color:rgb(159, 142, 89);
    font-family: GT Super,serif;
    border-left: 1rem solid;
    border-left-width: 10px;
    border-color: rgb(159, 142, 89)
}
.about-inner-image{
    height: 400px;
    width: 100%;
    border-radius: 5%;;
    margin-left: 3%;
    margin-top:1%;
}
.about-headline{
    width: 70%;
    text-align: center;
    font-weight: bold;
    margin-left:15%;
    margin-bottom: 3vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.map{
    height: 100%;
    width: 100%;
}


.contact-main{
    display: flex;
    margin-top: 70px;

    /* align-items: center; */
}

.map-container{
    /* height:15rem;
    width: 100%; */
    margin-left: 5%;
    width: 80%;
    height: 400px;;
    float: left;
    border-color: #4c4a44;
    border-style: outset;
    border-width: .5vh;
}
.contact-text{
    width: 40%;
    float: left;
    margin-left: 3%;
    /* font-size:50px; */
    /* color:gold; */
    font-family: GT Super,serif;
    /* border-left: 1rem solid; */
    /* border-left-width: 10px; */
    /* border-color: #f5c951; */
}
.card-body {
    height: 200px
}
@media only screen and (max-width: 750px) {
    .contact-main{
        display: inline;
    }
    .map-container{
        width:80%;
        float:none;
        margin-left: 10%;
    }
    .contact-text{
        margin-top: 2vh;
        width:80%;
        float:none;
    }
    .about-inner-image{
        margin-left: 0%;
    }

    .card-body{
        height:auto;
    }

  }

  @media only screen and (max-width: 950px) {
    .about-content{
        display: inline;
    }
    .about-img{
        width:80%;
        float:none;
        margin-left: 10%;
    }
    .about-content-inner{
        margin-top: 2vh;
        width:80%;
        float:none;
        margin-left: 10%;
        margin-top: 2%;
    }
    .about-inner-image{
        margin-left: 0%;
    }
    .card-body{
        height:auto;
    }
  }
.red{
    color: red;
}
.yello{
    color:yellow;
}
.about-wedo{
    text-align: center;
    color :rgb(159, 142, 89);
    font-weight: bolder;
}
.about-list-item{
    margin-left: 25px;
}
.about-icon{
    margin-right: 40px;
}

.MuiSvgIcon-root{
    margin-right:15px;
}

.nav-link{
color: white;
margin-left: 5vh;
}

.card{
    margin-left: 2vh;
}

.center{
    text-align: center;
}
.row{
    margin-right:0%
}
.card-img-top{
    height: 250px;
}


.footer{
    /* margin-top: 10vh; */
    padding-top: 1rem;
    background-color: rgb(235, 195, 64);
    position: absolute;
    left: 0;
    width: 100%;
    /* display: flex; */
    color:#fff;
    background-color: black;
    height:100px;
    color:#fff;
    text-align: center;
    margin-top:2vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }