
body,html{
  min-height:100vh;
}
.nav-link{
  /* margin-left: 5rem; */
}


.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color:rgb(27, 24, 24);
}

.footer-parent{
  min-height: 100vh;
}

.footer-container{
    color: white;
    background-color: #6a6162;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    bottom: 0;
    /* position:absolute; */
    position: sticky;
    text-align: center;
    margin-top: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-container ul{ 
    display: table-row; 
}
.footer-container li { 
    display: table-cell;
    width: 15%; 
}
.copyright{
    padding-top: 2em;
    text-align: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    transition: 1s ease;
  }
  
  .slide {
    width: 33.33%;
    height: 100%;
    float: left;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
  }
  
  .slide-data {
    width: 100%;
    position: absolute;
    top: 50%;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
    padding: 0 20%;
  }
  
  .slide-data h1 {
    font-family: "Anton", serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 45px;
  }
  
  .slide-data p {
    font-family: "Lato", serif;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .slide-data button {
    padding: 10px 25px;
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    font-size: 25px;
    font-weight: bolder;
  }
  
  .slide-data button:hover {
    color: #000;
    background-color: #fff;
  }
  
  .slide-1 {
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg);
  }
  
  .slide-2 {
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg);
  }
  
  .slide-3 {
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg);
  }
  
  .slider .arrows {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 60px;
    transition: 0.4s linear;
  }
  
  .slider .arrows:hover {
    color: #000;
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff;
  }
  
  .slider .arrows label {
    display: none;
  }
  
  .slider .arrow-left {
    left: 3%;
  }
  
  .slider .arrow-right {
    right: 3%;
  }
  
  .slider input:nth-child(1):checked ~ .slides {
    left: 0;
  }
  
  .slider input:nth-child(2):checked ~ .slides {
    left: -100%;
  }
  
  .slider input:nth-child(3):checked ~ .slides {
    left: -200%;
  }
  
  .slider input:nth-child(1):checked ~ .arrows label:nth-child(1),
  .slider input:nth-child(2):checked ~ .arrows label:nth-child(2),
  .slider input:nth-child(3):checked ~ .arrows label:nth-child(3) {
    display: block;
  }
  
  .slider .dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
  }
  
  .slider .dots label {
    display: inline-block;
    border-radius: 100%;
    margin: 0 6px;
    width: 25px;
    height: 25px;
    background-color: #fff;
  }
  
  .slider input:nth-child(1):checked ~ .dots label:nth-child(1),
  .slider input:nth-child(2):checked ~ .dots label:nth-child(2),
  .slider input:nth-child(3):checked ~ .dots label:nth-child(3) {
    background-color: #000;
    border: 2px solid #fff;
  }
  

  /* image gallery css */

  .gallery{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    moz-column-width: 33%;
    column-width: 33%;
    padding:0 12px;
  }
  .gallery .pics{
    -webkit-ransition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
  }

  .gallery .pics:hover{
    filter:opacity(.8)
  }

  @media (max-width:991px){
    .gallery{
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }

  @media (max-width:480px){
    .gallery{
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-width: 100%;
      moz-column-width: 100%;
      column-width: 100%;
    }
  }

  /* model css */

  .model{
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#000;
    transition:opacity .4s ease visibility .4 ease transition .5 ease-in-out ;
    visibility:hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
  }
  .model.open{
    visibility: visible;
    opacity: 1;
    transform:scale(1);
  }
  .model img{
    width:auto;
    max-width: 100%;
    max-height: 100%;
    height:auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
  }
  .model.open svg{
    position: fixed;
    top: 10px;
    right:10px;
    width: 2rem;
    height: 2rem;
    padding:5px;
    background-color: rgb(0,0,0,0.4);
    color: #fff;
    cursor: pointer;


  }